Integrations/FILE_TRANSFER_SAMPLE.01.00.0001/icspackage/project/FILE_TRANSFER_SAMPLE_01.00.0001/resources/processor_8/resourcegroup_9/ICSSchedule.xsd

<?xml version="1.0" encoding="UTF-8" ?><!-- Payload from ESS --><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ics="http://www.oracle.com/2014/03/ics/schedule"        targetNamespace="http://www.oracle.com/2014/03/ics/schedule" elementFormDefault="qualified" version="2">    <element name="schedule" type="ics:ScheduleType"/>    <complexType name="ScheduleType">        <sequence>            <element name="startTime" type="time"/>                    <element name="filename" type="string"/>            </sequence>    </complexType></schema>